{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)
Author: ian@yann.io (Ian Thompson)

UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<header id="banner">
  {{if .Position.ScoresAuto }}
  <div class="banner-title">Auto</div>
  {{else}}
  <div class="banner-placeholder"></div>
  {{end}}
  <div class="screen-title">{{.Position.Title}} - <span id="matchName">&nbsp;</span></div>
  {{if .Position.ScoresEndgame }}
  <div class="banner-title">Endgame</div>
  {{else}}
  <div class="banner-placeholder"></div>
  {{end}}
</header>
<main>
  <div id="top-controls">
    <div id="auto-controls">
      {{if .Position.ScoresAuto}}
      {{range $i := seq 3}}
        {{template "teamButton" (dict "id" (printf "auto-status-%d" $i) "index" $i "class" "scoring-button" "onclick"
        (printf "handleAutoTowerClick(%d);" $i))}}
      {{end}}
      {{end}}
    </div>
    <button id="commit" onclick="commitMatchScore();" ontouchstart disabled>Commit</button>
    <div id="endgame-controls">
      {{if .Position.ScoresEndgame}}
      {{range $i := seq 3}}
      {{template "teamButton" (dict "id" (printf "endgame-status-%d" $i) "index" $i "class" "scoring-teleop-button"
      "onclick" "showEndgameDialog();")}}
      {{end}}
      {{end}}
    </div>
  </div>
  <div id="hub-controls">
    <div class="counter-wrapper">
      {{template "counter" (dict "id" "auto-fuel" "label" "Auto Fuel")}}
    </div>
    <button id="edit-auto" onclick="toggleEditAuto();" ontouchstart disabled></button>
    <div class="counter-wrapper">
      {{template "counter" (dict "id" "teleop-fuel" "label" "Teleop Fuel")}}
    </div>
  </div>
  <dialog id="endgame-dialog" onclick="closeEndgameDialogIfOutside(event);">
    <div class="dialog-container">
      <div class="dialog-banner">Tower Levels</div>
      <div id="endgame-inputs">
        {{range $i := seq 3}}
        {{template "endgame-input" (dict "id" (printf "endgame-input-%d" $i) "index" $i)}}
        {{end}}
      </div>
      <button class="dialog-close" autofocus onclick="closeEndgameDialog();" ontouchstart>Close</button>
    </div>
  </dialog>
</main>

<dialog id="fouls-dialog" onclick="closeFoulsDialogIfOutside(event);">
  <div class="dialog-container">
    <div class="dialog-banner">Add Fouls</div>
    <div id="foul-container">
      {{template "foulButton" (dict "id" "foul-blue-minor" "color" "blue" "label" "Blue" "isMajor" false)}}
      {{template "foulButton" (dict "id" "foul-red-minor" "color" "red" "label" "Red" "isMajor" false)}}
      {{template "foulButton" (dict "id" "foul-blue-major" "color" "blue" "label" "Blue Major" "isMajor" true)}}
      {{template "foulButton" (dict "id" "foul-red-major" "color" "red" "label" "Red Major" "isMajor" true)}}
    </div>
    <button class="dialog-close" autofocus onclick="closeFoulsDialog();" ontouchstart>Close</button>
  </div>
</dialog>
{{end}}

{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.PositionName}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}

{{define "foulButton"}}
<button id="{{.id}}" class="foul-button {{.color}}" ontouchstart onclick="addFoul('{{.color}}', {{.isMajor}});">
  <div class="foul-button-label">{{.label}}</div>
  <div class="foul-button-counters">
    <span class="fouls-local">0</span> / <span class="fouls-global">0</span>
  </div>
</button>
{{end}}

{{define "teamButton"}}
<button id="{{.id}}" class="team-button team-{{.index}} {{.class}}" onclick="{{.onclick}}" ontouchstart disabled>
  <div class="team-num"></div>
  <div class="team-text">None</div>
</button>
{{end}}

{{define "counter"}}
<div id="{{.id}}" class="counter">
  <button class="counter-decrement scoring-button" onclick="handleCounterClick('{{.id}}', -1);" ontouchstart disabled>
    -1
  </button>
  <div class="counter-status">
    <div class="counter-label">{{.label}}</div>
    <div class="counter-value counter-main-value">0</div>
  </div>
  <button class="counter-increment scoring-button" onclick="handleCounterClick('{{.id}}', 1);" ontouchstart disabled>
    +1
  </button>
</div>
{{end}}

{{define "endgame-input"}}
<div id="{{.id}}" class="endgame-input team-{{.index}}">
  <div class="team-num"></div>
  {{template "endgame-input-button" (dict "label" "Level 3" "endgameState" 3 "index" .index)}}
  {{template "endgame-input-button" (dict "label" "Level 2" "endgameState" 2 "index" .index)}}
  {{template "endgame-input-button" (dict "label" "Level 1" "endgameState" 1 "index" .index)}}
  {{template "endgame-input-button" (dict "label" "None" "endgameState" 0 "index" .index)}}
</div>
{{end}}
{{define "endgame-input-button"}}
<button class="endgame-input-button endgame-{{.endgameState}}"
  onclick="handleEndgameClick({{.index}}, {{.endgameState}});">{{.label}}
</button>
{{end}}